*{
    width: 100%;
}
  
.card-img-top{
    justify-content: center;
    align-self: center;
    
}

  .favCat{
    width: 70px;
    margin: 1em;
    float: right;
    padding: 1em 1em;
border-radius: 20%;
background-color:white;
border-color: transparent;
box-shadow: 0px 5px 11px -4px;
cursor: pointer;
}


.card-title{
    display:flexbox;
    left: 32px;
}


.card-body{
    margin: 1%;
}

img{
    width: 40px;
}

.card{
    box-shadow: 0 10px 11px -5px;
    padding-top: 1em;
    border-radius: 1em;
    position: -webkit-sticky;
    position: sticky;
    border: 2px solid #A786DF;
    height: 100px;
    width: 100px;
    display: inline-block;

   
    /* top: 20px; */    
    

}
.contact{
    border-radius: 98px;
    padding: 11px;
    background-color: #0E172C;
    color: white;
  
}
.card-img-top{
    width: 300px;
}

